<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>

<div class="login_area_home">
    <div class="row">
        <div class="col-sm icon_area area_mobile_set" style="padding-left:0px;">
            <div class="hvr-push hover" [routerLink]="['/page/withdraw']" routerLinkActive="router-link-active" style="float: left;">
                <img src="/assets/images/icon/WITHDRAW.png" alt="">
            </div>
            <div class="hvr-push hover" [routerLink]="['/page/deposit']" routerLinkActive="router-link-active" style="float: left;padding-top: 5px;">
                <img src="/assets/images/icon/disposit.png" alt="">
            </div>
        </div>
        <div class="col-sm icon_area area_mobile_set_center">
            <div class="home_login">
                <form _ngcontent-ftw-c0="" action="https://www.ligaz24s.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                    <input type="text" name="txtUserName" id="txtUserName" class="form-control input-login" placeholder="USERNAME">
                    <input type="password" name="password" id="password" class="form-control input-login" placeholder="PASSWORD">
                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">
                    <div id="btnSignIn" onclick="doPostBackBetufa('btnSignIn','')" class="badge badge-danger btn-login-home hvr-push hover">LOGIN</div>
                </form>

            </div>
        </div>
        <div class="col-sm icon_area area_mobile_set" style="padding-right: 0px; float: right;">
            <div class="hvr-push hover" [routerLink]="['/page/register']" routerLinkActive="router-link-active" style="float: right;">
                <img src="/assets/images/icon/sign-up.png" alt="">
            </div>
            <div class="hvr-push hover" style="float: right;padding-top: 12px;">
                <a href="https://lin.ee/6fF91qv" target="_bank">
                    <img src="/assets/images/icon/line-tab.png" alt="">
                </a>
            </div>

        </div>
    </div>
</div>
<div class="marqueen_area">
    <marquee _ngcontent-xil-c3="" style=" margin-bottom: -6px; line-height: 1; font-size: 26px; color:white;position: relative;">B-DETT เว็บไซต์พนันออนไลน์ยอดนิยมอันดับ 1 ของคนไทย มาตรฐานสากล เปิดให้บริการทั้ง แทงบอลออนไลน์ กีฬา คาสิโน และเกมส์ออนไลน์ สามารถแทงพนันหลากหลายรูปแบบได้ตลอด 24 ชม.</marquee>
    <div class="online_area">
        <div class="counting_area">
            <div style="font-size: 14px;margin-top:10px;float: left;">Online</div>
            <img style="margin-top: 5px;" src="http://vigrx.co/count.php?c_style=4&id=1595658096" border="0">
        </div>
    </div>



</div>
<div class="info_area">


    <div class="container padding-100">
        <div class="row">
            <div [routerLink]="['/promotion']" class="col icon_area hvr-push hover">
                <img src="/assets/images/icon/pro-1.png" alt="">
            </div>
            <div [routerLink]="['/promotion']" class="col icon_area hvr-push hover">
                <img src="/assets/images/icon/pro-2.png" alt="">
            </div>
            <div [routerLink]="['/promotion']" class="col icon_area hvr-push hover">
                <img src="/assets/images/icon/pro-3.png" alt="">
            </div>
        </div>
    </div>
    <div class="container padding-100">
        <div class="row">
            <div [routerLink]="['/page/livescore']" class="col icon_area icon_area_sm hvr-push hover">
                <img src="/assets/images/icon/livescore.png" alt="">
            </div>
            <div [routerLink]="['/page/casino_online']" class="col icon_area icon_area_sm hvr-push hover">
                <img src="/assets/images/icon/casino.png" alt="">
            </div>
            <div [routerLink]="['/page/sport_betting']" class="col icon_area icon_area_sm hvr-push hover">
                <img src="/assets/images/icon/sport-betting.png" alt="">
            </div>
            <div [routerLink]="['/page/lotto_online']" class="col icon_area icon_area_sm hvr-push hover">
                <img src="/assets/images/icon/LOTTO.png" alt="">
            </div>
            <div [routerLink]="['/page/muay_online']" class="col icon_area icon_area_sm hvr-push hover">
                <img src="/assets/images/icon/MUAY.png?v=1.1" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm icon_area icon_area_sm3 ">
                <img src="/assets/images/content/X.png" alt="">
            </div>
        </div>
    </div>
    <div class="container bottom_area">
        <div class="row">
            <div [routerLink]="['/page/banking_online']" class=" col-sm col-sm-7 icon_area icon_area_sm2 hvr-push hover">
                <img src="/assets/images/content/banking-online.png" alt="">
            </div>
            <div [routerLink]="['/page/contact']" class=" col-sm col-sm-5 icon_area icon_area_sm2 hvr-push hover">
                <img src="/assets/images/content/contact-us.png" alt="">
            </div>
            <!-- <div class="col-sm icon_area icon_area_sm2 hvr-push hover">
            <img src="/assets/images/content/banking-online.png" alt="">
        </div>
        <div class="col-sm icon_area icon_area_sm2_2 hvr-push hover">
            <img src="/assets/images/content/contact-us.png" alt="">
        </div> -->
        </div>
    </div>
    <!-- <div class="content_">
    <div class="container content_area_set">
        <div _ngcontent-oex-c6="" class="dataContentBot">
            <div class="row">
                <div class="detailLeft">
                    <div _ngcontent-oex-c6="" class="row">
                        <div class="col hvr-push hover icon_home" routerLink='/page/register'>
                            <img src="/assets/images/icon/REGISTER.png" style="width:100%" alt="">
                        </div>
                        <div class="col hvr-push hover icon_home" routerLink='/page/deposit'>
                            <img src="/assets/images/icon/DEPOSIT.png" alt="">
                        </div>
                        <div class="w-100"></div>
                        <div class="col hvr-push hover icon_home">
                            <a href="http://line.me/ti/p/~@LG24S" target="_blank"><img src="/assets/images/content/line.png" alt=""></a>
                        </div>
                        <div class="col hvr-push hover icon_home" routerLink='/page/withdraw'>
                            <img src="/assets/images/icon/WITHDRAW.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detailRight">
                    <div class="login_area">
                        <div class="login_text">
                            LOGIN LIGAZ24S.COM
                            <form _ngcontent-ftw-c0="" action="https://www.ligaz24s.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                                <div class="form_input">
                                    <input type="text" name="txtUserName" id="txtUserName" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password" id="password" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">

                                </div>
                                <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                    <span class="badge badge-danger btn_login">เข้าสู่ระบบ</span>
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="info_home">
                    <div class="text_home">
                        สมัคร Ligaz24 แทงบอลออนไลน์
                    </div>
                    <div class="text_des_home">
                        <span style="color: red;">Ligaz</span> ในปัจจุบันนั้นเว็บ<span style="color: green;">พนันออนไลน์</span>นั้นเกิดขึ้นอย่างแพร่หลาย และมีมากมายให้ลูกค้าได้เลือกหาที่จะเล่นกัน แต่วันนี้เราจะมาแนะนำเว็บไซต์น้องใหม่ล่าสุดสดๆร้อนๆนั่นก็คือ
                        เว็บไซต์น้องใหม่มาแรงแซงทุกเว็บของยุคนี้ สีสันสุดใส เข้าใจง่าย ตัวหนังสือชัดเจน รองรับหลายภาษา รวมถึงภาษาไทย เรียบง่ายไม่ยุ่งยาก คัดสรรค์กีฬามามากมาย ไม่ว่าจะเป็นฟุตบอล บาสเกตบอล เทนนิส วอลเล่ย์บอล แม้แต่แบตมินตัน ก็ยังมีให้ลูกค้าได้เสียงโชคกัน
                        ในส่วนของฟุตบอลนั้นมีฟุตบอลหลากหลายประเทศ ลีคต่างๆ มีให้เล่นกันเยอะมาก ในส่วนของฟุตบอลไทยนั้น ทางเว็บก็ยังใส่ไว้ให้ลูกค้าได้เล่นกัน ลูกค้าจะพบกับการเดิมพันหลากหลาย ทำให้คุณเพลิดเพลินและยังได้รับส่วนลด การเดิมพันซึ่งจะทำให้ได้รับเงินเป็นจำนวนมากขึ้นกว่า
                        การเดิมพันที่เกิดขึ้นจริง ส่วนพิเศษของเว็บไซต์ นั้นก็คือท่านสามารถชมฟุตบอลสดผ่านเว็ฐไซต์ของ <span style="color: red;">Ligaz</span> ได้เลยถือได้ว่าคุ้มเกินคุ้ม
                    </div>
                </div>
            </div>

            <div class="row" class="register_step_area">
                <img src="/assets/images/content/register-step.png" style="width: 100%;" alt="">
            </div>




            <div class="row" style="padding-top:20px;">
                <div class="col-sm icon_area">
                    <img src="/assets/images/icon/sport.png" alt="">
                    <img src="/assets/images/icon/casino.png" alt="">
                    <img src="/assets/images/icon/game.png" alt="">
                </div>
                <div class="col-sm icon_area">
                    <img src="/assets/images/icon/garuatree.jpg" alt="">
                </div>
                <div class="col-sm other_text">
                    <div class="text_home" style="padding-top:6px">
                        แทงบอล <img src="assets/images/logo/logo.png?v=1.1">
                    </div>
                    <div class="text_des_home" style="padding-top:0px;">
                        <ul class="ul_home">
                            <li>
                                แทงผ่านบริษัท LIGAZ โดยตรง ไม่ผ่านเอเย่นต์
                            </li>
                            <li>
                                การเงินชัวร์ ฝาก-ถอนอัตโนมัติตลอด 24 ชั่วโมง
                            </li>
                            <li>
                                ระบบอัตโนมัติ โอนเงินเข้าทันที 20 วินาที
                            </li>
                            <li>
                                แทงขั้นต่ำเพียง 10 บาท
                            </li>
                            <li>
                                สเตปขั้นต่ำ 2 คู่
                            </li>
                            <li>
                                บอลเปิดเยอะกว่าเว็บอื่นๆ
                            </li>
                            <li>
                                มีมวยไทยให้เดิมพัน
                            </li>
                            <li>
                                ผู้ใช้สามารถเปลี่ยน Login Name ได้
                            </li>
                            <li>
                                ดูบอลถ่ายทอดสดในเว็บได้ (สัญญาณเร็วกว่าทรูวิชั่น)
                            </li>
                            <li>
                                มีหน้าต่างแสดงสถิติ อัตราการบุกแต่ละทีมที่กำลังแข่งขัน
                            </li>
                            <li>
                                มีหน้า Mobile site รองรับทุกสมาร์ทโฟน
                            </li>
                            <li>
                                ล็อคอินยูสเซอร์ในสมาร์ทโฟนทิ้งไว้ได้ตลอด ไม่มีเด้งออก
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm icon_area">
                    <div class="title_text">ข่าวสาร</div>
                </div>
                <div _ngcontent-oex-c6="" class="row news_area">
                    <ng-container *ngFor="let todo of todoList; index as i; first as isFirst;let l = count">
                        <div _ngcontent-oex-c6="" class="col-sm-6   news_area_card" tabindex="0" routerLink="/news/news-detail/{{todo.adjust_page_title}}-{{todo.adjust_page_id}}">
                            <div class="news_card">
                                <div class="detailLeftNews">
                                    <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="detailRightNews">
                                    <div _ngcontent-oex-c6="" class="text-news"> {{todo.adjust_page_title}} </div>
                                    <div _ngcontent-oex-c6="" class="des-news"> {{todo.adjust_page_short_description}} </div>
                                </div>
                            </div>



                        </div>
                    </ng-container>
                </div>

            </div>


            <div class="row">
                <div class="col-sm icon_area">
                    <div class="title_text">รีวิวลูกค้า</div>
                </div>
                <div _ngcontent-oex-c6="" class="review_area">
                    <img src="/assets/images/icon/review1.jpg" alt="">
                    <img src="/assets/images/icon/review2.jpg" alt="">
                    <img src="/assets/images/icon/review3.jpg" alt="">
                </div>
            </div>






        </div>

    </div>
</div> -->

    <!-- <div _ngcontent-gyx-c3="" attr="http://line.me/ti/p/~@megarich88" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->